^sample-groovy/.gradle
.idea
build/
dist/
out/
__pycache__
.pytest_cache
.eggs
.coverage

*.iml
*.pyc
*.egg-info
viewer/ibidem/codetanks/domain/
server/ibidem/codetanks/domain/

.sdkmanrc
.gradle

debug_plot*.svg
